name: Azure Static Web Apps CI/CD

# Grant necessary permissions
permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    permissions:
       id-token: write
       contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x' # Use the version compatible with your Nx project

      - name: Install dependencies
        run: npm ci

      - name: Build with Nx
        run: npx nx build # Replace with your specific build target if needed

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_BRAVE_GLACIER_08D618C03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "/" # Path to your app's source code
          api_location: "" # Optional: path to API code
          output_location: "dist/apps/radoznala-krava/browser" # Adjust based on your Nx output path; default is usually dist/apps/<app-name>
          github_id_token: ${{ steps.idtoken.outputs.result }}
        env:
          SKIP_DEPLOY_ON_MISSING_SECRETS: true


  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          action: "close"
